numpy<2
pandas
opencv-python
python-dotenv==1.0.1
tqdm
scikit-learn
matplotlib

transformers
torch==2.4.1 #--index-url https://download.pytorch.org/whl/cu118
torchvision
datasets
accelerate
protobuf==5.28.2
sentencepiece==0.2.0
wheel==0.44.0 # nedded to install bitsandbytes
bitsandbytes==0.44.1 # for quantification
# pywin32 # For huggingface hub ssl certificate issue on windows os
